# Ganti localhost menjadi host.docker.internal untuk akses dari dalam Docker
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/sowel_task

# JWT
SECRET_KEY=your-secret-key-minimum-32-characters
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173